<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Spica Admin</title>
  <!-- base:css -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="icon" href="icon.png" type="x-icon" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  
  <link rel="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css">
  <link rel="https://cdn.datatables.net/rowreorder/1.5.0/css/rowReorder.bootstrap5.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
   <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
   
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../images/favicon.png" />
</head>
<body>
  <div class="container-scroller d-flex">
    
    <!-- partial:./partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item sidebar-category">
          <p>User Dashboard</p>
          <span></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html">
            <i class='bx bxs-dashboard menu-icon' ></i>
            <span class="menu-title">Dashboard</span>
            <div class="badge badge-info badge-pill">2</div>
          </a>
        </li>
        <li class="nav-item sidebar-category">
          <p>Reports</p>
          <span></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Dailyreport.html">
            <i class="fa fa-file menu-icon"></i>
            <span class="menu-title">Daily Reports</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Monthlyreport.html">
            <i class="fa fa-file menu-icon"></i>
            <span class="menu-title">Monthly Reports</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Meterreport.html">
            <i class="fa fa-cogs menu-icon"></i>
            <span class="menu-title">Meter Reports</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid page-body-wrapper">
        <!-- partial:./partials/_navbar.html -->
          <div class="navbar-menu-wrapper d-flex align-items-left justify-content-Home">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
           <span class="bx bx-menu"> Daily Reports</span>
            </button>
          </div> 

      <!-------Show ------->

          <div class= "p-4" >
            <div class="bg-white p-6 rounded ">
              <div class="flex justify-between items-center mb-4">
                  <h2 class="text-lg font-semibold">Select From Date to Current Date </h2>
                  
              </div>
              <div class="grid grid-cols-5 gap-4 mb-4">
                  <div>
                      <label class="block text-sm font-medium text-gray-700">From Date</label>
                      <div class="flex items-center border rounded px-2 py-1">
                          <input type="date" value="2024-11-20" class="w-full border-none focus:ring-0">
                          
                      </div>
                  </div>
                  <div>
                      <label class="block text-sm font-medium text-gray-700">To Date</label>
                      <div class="flex items-center border rounded px-2 py-1">
                          <input type="date" value="2024-11-21" class="w-full border-none focus:ring-0">
                          
                      </div>
                    </div>
                  <div class="flex items-end space-x-4">
                      <button onclick="showTable()" class="bg-blue-500 text-white px-4 py-2 rounded">Show</button>
                      <button id="exportbtn" class="bg-green-500 text-white px-4 py-2 rounded">Export</button>
                  </div>
              </div>
              
          </div>
          </div>
          
          <div id="dataTable" style="display: none;"class= " container p-8" >
            <div class="bg-white p-6 rounded ">
              
              <div class="flex justify-between items-center mb-4">
                <div>
                    <label for="entries" class="mr-2">Show</label>
                    <select id="entries" class="border border-gray-300 rounded p-1">
                        <option>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>All</option>
                    </select>
                    <span class="ml-2">entries</span>
               </div>
                <div>
                  <label for="search" class="mr-2">Search:</label>
                  <input type="text" id="search" class="border border-gray-300 rounded p-1">
                </div>
            </div>
            <table id="Table" class="min-w-full bg-white border border-gray-300">
              <thead>
                  <tr>
                      <th id="Date" class= "border border-gray-300 text-white bg-blue-500 px-4 py-2">Date <i class="fas fa-sort"></i></th>
                      <th class="border border-gray-300 text-white bg-blue-500 px-4 py-2">No.of.Meters Tested <i class="fas fa-sort"></i></th>
                      <th class="border border-gray-300 text-white bg-blue-500 px-4 py-2">No.of.Meters Completed <i class="fas fa-sort"></i></th>
                      <th class="border border-gray-300 text-white bg-blue-500 px-4 py-2">No.of.Meters Reworked<i class="fas fa-sort"></i></th>
                      <th class="border border-gray-300 text-white bg-blue-500 px-4 py-2">No.of.Meters Pending<i class="fas fa-sort"></i></th>
              </thead>
              <tbody>
                <tr>
                  <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
                  <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
                  <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                  <td class="border border-gray-300 text-center px-4 py-2">500</td>
                  <td class="border border-gray-300 text-center px-4 py-2">500</td>
              </tr>
              <tr>
                <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
                <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
                <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                <td class="border border-gray-300 text-center px-4 py-2">500</td>
                <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            <tr>
              <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
              <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
              <td class="border border-gray-300 text-center px-4 py-2">500</td>
            </tr>
            </tbody>
            </table>
            
            
            <div class="flex justify-between items-center mt-4">
              <div>
                <span id="pagination-info" class="pagination-info">Showing 1 to 10 of 57 entries</span>
              </div>
              <div class="flex space-x-1 pagination">
                <button id="prev-btn" class="px-3 py-1 border border-gray-300 rounded bg-white" data-action="prev" disabled>Previous</button>
                <button id="page-1" class="px-3 py-1 border border-gray-300 rounded bg-blue-500 text-white">1</button>
                <button id="page-2" class="px-3 py-1 border border-gray-300 rounded bg-white">2</button>
                <button id="page-3" class="px-3 py-1 border border-gray-300 rounded bg-white">3</button>
                <button id="page-4" class="px-3 py-1 border border-gray-300 rounded bg-white">4</button>
                <button id="page-5" class="px-3 py-1 border border-gray-300 rounded bg-white">5</button>
                <button id="page-6" class="px-3 py-1 border border-gray-300 rounded bg-white">6</button>
                <button id="next-btn" class="px-3 py-1 border border-gray-300 rounded bg-white" data-action="next">Next</button>
              </div>
            </div>
            </div>
            
            
 
 </div>      
</div>
</div>

             
                


<!-- base:js -->
<script src="../vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="../vendors/chart.js/Chart.min.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../js/off-canvas.js"></script>
<script src="../js/hoverable-collapse.js"></script>
<script src="../js/template.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
 <script src="script.js"></script>
<script src="../js/dashboard.js"></script>
<!-- End custom js for this page-->

</div>
</div>
  </body>
  </html>