<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Admin Dashboard </title>
  <!-- base:css -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="icon" href="icon.png" type="x-icon" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  
  <link rel="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css">
  <link rel="https://cdn.datatables.net/rowreorder/1.5.0/css/rowReorder.bootstrap5.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
   <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- endinject -->
  <!-- plugin css for this page -->
   
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../images/favicon.png" />
</head>
<body>
  <div class="container-scroller d-flex">
    
    <!-- partial:./partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item sidebar-category">
          <p>User Dashboard</p>
          <span></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index2.html">
            <i class='bx bxs-dashboard menu-icon' ></i>
            <span class="menu-title">Dashboard</span>
            <div class="badge badge-info badge-pill">2</div>
          </a>
        </li>
        <li class="nav-item sidebar-category">
          <p>Reports</p>
          <span></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Dailyreport.html">
            <i class="fa fa-file menu-icon"></i>
            <span class="menu-title">Daily Reports</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Monthlyreport.html">
            <i class="fa fa-file menu-icon"></i>
            <span class="menu-title">Monthly Reports</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Meterreport.html">
            <i class="fa fa-cogs menu-icon"></i>
            <span class="menu-title">Meter Reports</span>
          </a>
        </li>

        <li class="nav-item sidebar-category">
          <p>Chart</p>
          <span></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="chart.html">
            <i class="fa fa-chart-bar menu-icon"></i>
            <span class="menu-title">Chart</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid page-body-wrapper">
        <!-- partial:./partials/_navbar.html -->
          <div class="navbar-menu-wrapper d-flex align-items-left justify-content-Home">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
           <span class="bx bx-menu"></span>
            </button>
          </div> 

      <!-------Show ------->

      <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4">DAILY REPORTS</h1>
        <div class="bg-gray-300 p-4 rounded shadow-md mb-4">
            <div class="pd-4 flex space-x-4">
                <div>
                    <label for="selectDate" class="block text-base text-gray-700 font-semibold"> Date </label>
                    <input type="date" id="selectDate" class="border border-gray-300 rounded p-2 w-64">
                </div>
                
                <!------------Button----------->

 <div class="flex-grow text-right">
   <button onclick="showTable()" class="bg-teal-500 text-white px-4 py-2 rounded mt-6 hover:bg-teal-600">Generate</button>
   <button id="exportbtn"class="bg-teal-500 text-white px-4 py-2 rounded mt-6 ml-4 hover:bg-teal-600">Export</button>
 </div>

  </div>
        </div>

        <div class="bg-blue-600 text-white p-4 rounded-t mt-4 cursor-pointer">
            DAILY REPORTS
        </div>
        <div class="bg-gray-200 p-4 rounded-b shadow-md">
            <div class="flex items-center justify-between mb-4">
                <div>
                    <label for="entries" class="block text-gray-700">Show</label>
                    <select id="entries" class="border border-gray-300 rounded p-2">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="All">All</option>
                        <!-- Add other options as needed -->
                    </select>
                    <span class="text-gray-700">entries</span>
                </div>
                <div>
                    <label for= "search" class= "block text-gray-700" >Search:</label>
                    <input type= "text" id= "search" class= "border border-gray-300 rounded p-2">
                </div>
            </div>

            <!-------<div class="py-2 text-center text-black-500">No data available in table</div>-------->


            <table  id= "dataTable" style= "display: none;" class= "min-w-full bg-white">
                <thead>
                    <tr>  
                      <th id=  "Date" class= "border border-gray-300 text-white text-center bg-blue-500 px-4 py-2"> Date / Time <i class="fas fa-sort"></i></th>
                       <th id= "tested" class="border border-gray-300 text-white bg-blue-500 px-4 py-2"> No.of.Meters Tested  <i class="fas fa-sort"></i></th>
                       <th id= "completed" class="border border-gray-300 text-white bg-blue-500 px-4 py-2"> No.of.Meters Completed  <i class="fas fa-sort"></i></th>
                       <th id= "Reworked" class="border border-gray-300 text-white bg-blue-500 px-4 py-2"> No.of.Meters Reworked <i class="fas fa-sort"></i></th>
                       <th id= "pending" class="border border-gray-300 text-white bg-blue-500 px-4 py-2"> No.of.Meters Pending<i class="fas fa-sort"></i></th>
                    </tr>

                </thead>
                <tbody>

                  <tr>
                  <td class= "border border-gray-300 text-center px-4 py-2">10.11.2024 12:10:01</td>
                  <td class= "border border-gray-300 text-center px-4  py-2">2,000</td>
                  <td class= "border border-gray-300 text-center px-4 py-2">1,000</td>
                  <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                  <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                  </tr>
                 
                  <tr>
                  <td class= "border border-gray-300 text-center px-4 py-2">11.11.2024 12:11:02</td>
                  <td class= "border border-gray-300 text-center px-4  py-2">3,000</td>
                  <td class= "border border-gray-300 text-center px-4 py-2">1,000</td>
                  <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                  <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                  </tr>
                 
                 <tr>
                  <td class= "border border-gray-300 text-center px-4 py-2">15.11.2024 12:12:03</td>
                  <td class= "border border-gray-300 text-center px-4  py-2">4,000</td>
                  <td class= "border border-gray-300 text-center px-4 py-2">1,000</td>
                  <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                  <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                  </tr>
                  
                  <tr>
                   <td class= "border border-gray-300 text-center px-4 py-2">16.11.2024 12:13:04</td>
                   <td class= "border border-gray-300 text-center px-4  py-2">6,000</td>
                   <td class= "border border-gray-300 text-center px-4 py-2">1,000</td>
                   <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                   <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                   </tr> 
                 
                 <tr>
                 <td class= "border border-gray-300 text-center px-4 py-2">18.11.2024  12:14:05</td>
                 <td class= "border border-gray-300 text-center px-4  py-2">5,000</td>
                 <td class= "border border-gray-300 text-center px-4 py-2">1,000</td> 
                 <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                 <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                  </tr> 
                 
                 
                     <tr>
                       <td class= "border border-gray-300 text-center px-4 py-2">19.11.2024 12:15:04</td>
                       <td class= "border border-gray-300 text-center px-4  py-2">2,000</td>
                       <td class= "border border-gray-300 text-center px-4 py-2">1,000</td>
                       <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                       <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                       </tr> 
                 
                       <tr>
                       <td class= "border border-gray-300 text-center px-4 py-2">20.11.2024 12:16:05</td>
                       <td class= "border border-gray-300 text-center px-4  py-2">7,000</td>
                       <td class= "border border-gray-300 text-center px-4 py-2">1,000</td>
                       <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                       <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                       </tr> 
                 
                       <tr>
                       <td class= "border border-gray-300 text-center px-4 py-2">21.11.2024 12:17:06</td>
                       <td class= "border border-gray-300 text-center px-4  py-2">6,000</td>
                       <td class= "border border-gray-300 text-center px-4 py-2">1,000</td>
                       <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                       <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                       </tr> 
                 
                       <tr>
                       <td class= "border border-gray-300 text-center px-4 py-2">22.11.2024 12:18:07</td>
                       <td class= "border border-gray-300 text-center px-4  py-2">6,000</td>
                       <td class= "border border-gray-300 text-center px-4 py-2">1,000</td>
                       <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                       <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                       </tr> 
                 
                        <tr>
                        <td class= "border border-gray-300 text-center px-4 py-2">23.11.2024 12:19:08</td>
                        <td class= "border border-gray-300 text-center px-4  py-2">6,000</td>
                        <td class= "border border-gray-300 text-center px-4 py-2">1,000</td>
                        <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                        <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                        </tr> 
                 
                        <tr>
                        <td class= "border border-gray-300 text-center px-4 py-2">24.11.2024 12:20:09</td>
                        <td class= "border border-gray-300 text-center px-4  py-2">6,000</td>
                        <td class= "border border-gray-300 text-center px-4 py-2">1,000</td>
                        <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                        <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                        </tr> 
                 
                 
                        <tr>
                        <td class= "border border-gray-300 text-center px-4 py-2">25.11.2024 12:21:10</td>
                        <td class= "border border-gray-300 text-center px-4  py-2">6,000</td>
                        <td class= "border border-gray-300 text-center px-4 py-2">1,000</td>
                        <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                        <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                        </tr> 
                 
                 
                       <tr>
                       <td class= "border border-gray-300 text-center px-4 py-2">26.11.2024 12:22:11</td>
                       <td class= "border border-gray-300 text-center px-4  py-2">6,000</td>
                       <td class= "border border-gray-300 text-center px-4 py-2">1,000</td>
                       <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                       <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                        </tr> 
                 
                 
                     <tr>
                     <td class= "border border-gray-300 text-center px-4 py-2">27.11.2024 12:23:12</td>
                     <td class= "border border-gray-300 text-center px-4  py-2">6,000</td>
                     <td class= "border border-gray-300 text-center px-4 py-2">1,000</td>
                     <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                    <td class=  "border border-gray-300 text-center px-4 py-2">500</td>
                     </tr> 
                 
                    <tr>
                   <td class= "border border-gray-300 text-center px-4 py-2">28.11.2024 12:24:13</td>
                   <td class= "border border-gray-300 text-center px-4  py-2">6,000</td>
                   <td class= "border border-gray-300 text-center px-4 py-2">1,000</td>
                   <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                   <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                   </tr> 
                 
                    <tr>
                     <td class= "border border-gray-300 text-center px-4 py-2">29.11.2024 12:25:14</td>
                     <td class= "border border-gray-300 text-center px-4  py-2">6,000</td>
                     <td class= "border border-gray-300 text-center px-4 py-2">1,000</td>
                     <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                     <td class= "border border-gray-300 text-center px-4 py-2">500</td>
                    </tr> 
                 
                     <tr>
                     <td class= "border border-gray-300 text-center px-4 py-2"  >30.11.2024 12:26:15</td>
                     <td class= "border border-gray-300 text-center px-4  py-2" >6,000</td>
                     <td class= "border border-gray-300 text-center px-4 py-2"  >1,000</td>
                     <td class= "border border-gray-300 text-center px-4 py-2"  >500</td>
                     <td class= "border border-gray-300 text-center px-4 py-2"  >500</td>
                     </tr> 
                 
                      <tr>
                      <td class= "border border-gray-300 text-center px-4 py-2" >31.11.2024 12:27:16</td>
                      <td class= "border border-gray-300 text-center px-4  py-2" >6,000</td>
                      <td class= "border border-gray-300 text-center px-4 py-2" >3,000</td>
                      <td class= "border border-gray-300 text-center px-4 py-2" >1,500</td>
                      <td class= "border border-gray-300 text-center px-4 py-2" >1,500</td>
                      </tr> 
                 
                      <tr>
                      <td class="border border-gray-300 text-center px-4 py-2">01.12.2024 12:28:17</td>
                      <td class="border border-gray-300 text-center px-4  py-2">4,000</td>
                      <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                      <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                      <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                      </tr> 
                 
                      <tr>
                       <td class="border border-gray-300 text-center px-4 py-2">01.12.2024 12:29:18</td>
                       <td class="border border-gray-300 text-center px-4  py-2">5,000</td>
                       <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                       <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                       <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                      </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">02.12.2024 12:30:19</td>
                         <td class="border border-gray-300 text-center px-4  py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">03.12.2024 12:31.20</td>
                         <td class="border border-gray-300 text-center px-4  py-2">3,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">04.12.2024 12:32:21</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">3,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">05.12.2024 12:33:22</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">3,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">06.12.2024 12:35:23</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">07.12.2024 12:36:24</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">08.12.2024 12:37:25</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">09.12.2024 12:38:26</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">10.12.2024 12:39:27</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">3,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">11.12.2024 12:40:28</td>
                         <td class="border border-gray-300 text-center px-4  py-2">3,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">12.12.2024 12:41:29</td>
                         <td class="border border-gray-300 text-center px-4  py-2">5,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">13.12.2024 12:42:30</td>
                         <td class="border border-gray-300 text-center px-4  py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">14.12.2024 12:43:31</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">2,500</td>
                         <td class="border border-gray-300 text-center px-4 py-2">2.500</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">15.12.2024 12:44:32</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">16.12.2024 12:46:33</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">3,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">17.12.2024 12:47:34</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">18.12.2024 12:48:35</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">3,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">19.12.2024 12:49:36</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">5,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">20.12.2024 12:50:37</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">5,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">21.12.2024 12:51:38</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">22.12.2024 12:52:39</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">5,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">23.12.2024 12:53:40</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">24.12.2024 12:54:41</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">3,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">25.12.2024 12:55:42</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">26.12.2024 12:56:43</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">5,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">27.12.2024 12:57:44</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">28.12.2024 12:58:45</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">29.12.2024 12:59:46</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">30.12.2024 12:60:47</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                       </tr> 
                
                 
                 </tbody>
            </table>
           
<!----------Show-Next-Previous-------------->

<div class="flex justify-between items-center mt-4">
  <div>
    <span id="pagination-info" class="pagination-info">Showing 1 to 10 of 57 entries</span>
  </div>
  <div class="flex space-x-1 pagination">
    <button id="prev-btn" class="px-3 py-1 border border-gray-300 rounded bg-white" data-action="prev" disabled>Previous</button>
    <button id="page-1" class="px-3 py-1 border border-gray-300 rounded bg-blue-500 text-white">1</button>
    <button id="page-2" class="px-3 py-1 border border-gray-300 rounded bg-white">2</button>
    <button id="page-3" class="px-3 py-1 border border-gray-300 rounded bg-white">3</button>
    <button id="page-4" class="px-3 py-1 border border-gray-300 rounded bg-white">4</button>
    <button id="page-5" class="px-3 py-1 border border-gray-300 rounded bg-white">5</button>
    <button id="page-6" class="px-3 py-1 border border-gray-300 rounded bg-white">6</button>
    <button id="next-btn" class="px-3 py-1 border border-gray-300 rounded bg-white" data-action="next">Next</button>
  </div>
</div>
</div>


  </div>
  </div>


    
 
 </div>      
</div>
</div>

             
                


<!-- base:js -->
<script src="../vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="../vendors/chart.js/Chart.min.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../js/off-canvas.js"></script>
<script src="../js/hoverable-collapse.js"></script>
<script src="../js/template.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
 <script src="script.js"></script>
<script src="../js/dashboard.js"></script>
<!-- End custom js for this page-->

</div>
</div>
  </body>
  </html>