<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BGT-Monthlyreports</title>
  <!-- base:css -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="icon" href="icon.png" type="x-icon" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  
  <link rel="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css">
  <link rel="https://cdn.datatables.net/rowreorder/1.5.0/css/rowReorder.bootstrap5.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
   <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- endinject -->
  <!-- plugin css for this page -->
   
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../images/lg.png" />
</head>
<body>
  <div class="container-scroller d-flex">
    
    <!-- partial:./partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item sidebar-category">
          <p>User Dashboard</p>
          <span></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index2.html">
            <i class='bx bxs-dashboard menu-icon' ></i>
            <span class="menu-title">Dashboard</span>
            <div class="badge badge-info badge-pill">2</div>
          </a>
        </li>
        <li class="nav-item sidebar-category">
          <p>Reports</p>
          <span></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Dailyreport.html">
            <i class="fa fa-file menu-icon"></i>
            <span class="menu-title">Daily Reports</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Monthlyreport.html">
            <i class="fa fa-file menu-icon"></i>
            <span class="menu-title">Monthly Reports</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Meterreport.html">
            <i class="fa fa-cogs menu-icon"></i>
            <span class="menu-title">Meter Reports</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid page-body-wrapper">
        <!-- partial:./partials/_navbar.html -->
          <div class="navbar-menu-wrapper d-flex align-items-left justify-content-Home">
            <button class="navbar-toggler navbar-toggler align-self-center bg-blue-800" type="button" data-toggle="minimize">
              <span class="bx bx-menu text-white text-3xl"></span>
    
            </button>
          </div> 

      <!-------Show ------->

      <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4">MONTHLY REPORTS</h1>
        <div class="bg-gray-300 p-4 rounded shadow-md mb-4">
            <div class="pd-4 flex space-x-4">
              <div class="flex items-center gap-2">
                <label for="selectMonth" class="text-base text-gray-700 font-semibold">Select Month</label>
                <select id="selectMonth" class="border border-gray-300 rounded p-2 w-64">
                  <option value="" disabled selected>Select Month</option>
                  <option value="01">January</option>
                  <option value="02">February</option>
                  <option value="03">March</option>
                  <option value="04">April</option>
                  <option value="05">May</option>
                  <option value="06">June</option>
                  <option value="07">July</option>
                  <option value="08">August</option>
                  <option value="09">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div>
              <div class="flex items-center gap-2">
                <label for="selectyear" class="text-base text-gray-700 font-semibold">Select Year</label>
                <select id="selectyear" class="border border-gray-300 rounded p-2 w-64">
                  <option value="" disabled selected>Select Year</option>
                  <option value="01">2024</option>
                  <option value="02">2025</option>
                  <option value="03">2026</option>
                  <option value="04">2027</option>
                  <option value="05">2028</option>
                  <option value="06">2029</option>
                  <option value="07">2030</option>
                  <option value="08">2031</option>
                  <option value="09">2032</option>
                  <option value="10">2033</option>
                  <option value="11">2034</option>
                  <option value="12">2035</option>
                </select>
              </div>
            
            
                <!------------Button----------->

 <div class="flex-grow text-right">
   <button onclick="showTable()" class="bg-teal-500 text-white px-4 py-2 rounded mt-6 hover:bg-teal-600">Generate</button>
   <button id="exportbtn"class="bg-teal-500 text-white px-4 py-2 rounded mt-6 ml-4 hover:bg-teal-600">Export</button>
 </div>

  </div>
        </div>

        <div class="bg-blue-600 text-white p-4 rounded-t mt-4 cursor-pointer">
            MONTHLY REPORTS
        </div>
        <div class="bg-gray-200 p-4 rounded-b shadow-md">
            <div class="flex items-center justify-between mb-4">
                <div>
                    <label for="entries" class="block text-gray-700">Show</label>
                    <select id="entries" class="border border-gray-300 rounded p-2">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="All">All</option>
                        <!-- Add other options as needed -->
                    </select>
                    <span class="text-gray-700">entries</span>
                </div>
                <div>
                    <label for="search" class="block text-gray-700">Search:</label>
                    <input type="text" id="search" class="border border-gray-300 rounded p-2">
                </div>
            </div>

            <!-------<div class="py-2 text-center text-black-500">No data available in table</div>-------->


            <table  id="dataTable" style="display: none;" class="min-w-full bg-white">
                <thead>
                    <tr>  
                      <th id="Date" class= "border border-gray-300 text-white text-center bg-blue-500 px-4 py-2">Date <i class="fas fa-sort"></i></th>
                       <th id="tested" class="border border-gray-300 text-white text-center bg-blue-500 px-4 py-2">No.of.Meters Tested <i class="fas fa-sort"></i></th>
                       <th id="completed" class="border border-gray-300 text-white text-center bg-blue-500 px-4 py-2">No.of.Meters Completed <i class="fas fa-sort"></i></th>
                       <th id="Reworked" class="border border-gray-300 text-white text-center bg-blue-500 px-4 py-2">No.of.Meters Reworked<i class="fas fa-sort"></i></th>
                    </tr>

                </thead>
                <tbody>

                  <tr>
                  <td class="border border-gray-300 text-center px-4 py-2">10.11.2024</td>
                  <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
                  <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                  <td class="border border-gray-300 text-center px-4 py-2">500</td>
                
                  </tr>
                 
                  <tr>
                  <td class="border border-gray-300 text-center px-4 py-2">11.11.2024</td>
                  <td class="border border-gray-300 text-center px-4  py-2">3,000</td>
                  <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                  <td class="border border-gray-300 text-center px-4 py-2">500</td>
                 
                  </tr>
                 
                 <tr>
                  <td class="border border-gray-300 text-center px-4 py-2">15.11.2024</td>
                  <td class="border border-gray-300 text-center px-4  py-2">4,000</td>
                  <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                  <td class="border border-gray-300 text-center px-4 py-2">500</td>
                
                  </tr>
                  
                  <tr>
                   <td class="border border-gray-300 text-center px-4 py-2">16.11.2024</td>
                   <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                   <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                   <td class="border border-gray-300 text-center px-4 py-2">500</td>
                
                   </tr> 
                 
                 <tr>
                 <td class="border border-gray-300 text-center px-4 py-2">18.11.2024</td>
                 <td class="border border-gray-300 text-center px-4  py-2">5,000</td>
                 <td class="border border-gray-300 text-center px-4 py-2">1,000</td> 
                 <td class="border border-gray-300 text-center px-4 py-2">500</td>
               
                  </tr> 
                 
                 
                     <tr>
                       <td class="border border-gray-300 text-center px-4 py-2">19.11.2024</td>
                       <td class="border border-gray-300 text-center px-4  py-2">2,000</td>
                       <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       <td class="border border-gray-300 text-center px-4 py-2">500</td>
                       
                       </tr> 
                 
                       <tr>
                       <td class="border border-gray-300 text-center px-4 py-2">20.11.2024</td>
                       <td class="border border-gray-300 text-center px-4  py-2">7,000</td>
                       <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       <td class="border border-gray-300 text-center px-4 py-2">500</td>
                     
                       </tr> 
                 
                       <tr>
                       <td class="border border-gray-300 text-center px-4 py-2">21.11.2024</td>
                       <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                       <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       <td class="border border-gray-300 text-center px-4 py-2">500</td>
                    
                       </tr> 
                 
                       <tr>
                       <td class="border border-gray-300 text-center px-4 py-2">22.11.2024</td>
                       <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                       <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       <td class="border border-gray-300 text-center px-4 py-2">500</td>
                 
                       </tr> 
                 
                        <tr>
                        <td class="border border-gray-300 text-center px-4 py-2">23.11.2024</td>
                        <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                        <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                        <td class="border border-gray-300 text-center px-4 py-2">500</td>
               
                        </tr> 
                 
                        <tr>
                        <td class="border border-gray-300 text-center px-4 py-2">24.11.2024</td>
                        <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                        <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                        <td class="border border-gray-300 text-center px-4 py-2">500</td>
                    
                        </tr> 
                 
                 
                        <tr>
                        <td class="border border-gray-300 text-center px-4 py-2">25.11.2024</td>
                        <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                        <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                        <td class="border border-gray-300 text-center px-4 py-2">500</td>
                    
                        </tr> 
                 
                 
                       <tr>
                       <td class="border border-gray-300 text-center px-4 py-2">26.11.2024</td>
                       <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                       <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       <td class="border border-gray-300 text-center px-4 py-2">500</td>
                
                        </tr> 
                 
                 
                     <tr>
                     <td class="border border-gray-300 text-center px-4 py-2">27.11.2024</td>
                     <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                     <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                     <td class="border border-gray-300 text-center px-4 py-2">500</td>
                 
                     </tr> 
                 
                    <tr>
                   <td class="border border-gray-300 text-center px-4 py-2">28.11.2024</td>
                   <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                   <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                   <td class="border border-gray-300 text-center px-4 py-2">500</td>
              
                   </tr> 
                 
                    <tr>
                     <td class="border border-gray-300 text-center px-4 py-2">29.11.2024</td>
                     <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                     <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                     <td class="border border-gray-300 text-center px-4 py-2">500</td>
                 
                    </tr> 
                 
                     <tr>
                     <td class="border border-gray-300 text-center px-4 py-2">30.11.2024</td>
                     <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                     <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                     <td class="border border-gray-300 text-center px-4 py-2">500</td>
                
                     </tr> 
                 
                      <tr>
                      <td class="border border-gray-300 text-center px-4 py-2">31.11.2024</td>
                      <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                      <td class="border border-gray-300 text-center px-4 py-2">3,000</td>
                      <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                      
                      </tr> 
                 
                      <tr>
                      <td class="border border-gray-300 text-center px-4 py-2">01.12.2024</td>
                      <td class="border border-gray-300 text-center px-4  py-2">4,000</td>
                      <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                      <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                    
                      </tr> 
                 
                      <tr>
                       <td class="border border-gray-300 text-center px-4 py-2">01.12.2024</td>
                       <td class="border border-gray-300 text-center px-4  py-2">5,000</td>
                       <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                       <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                
                      </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">02.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                      
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">03.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">3,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                    
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">04.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">3,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                  
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">05.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">3,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                        
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">06.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">07.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                     
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">08.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">09.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
             
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">10.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">3,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                         
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">11.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">3,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                      
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">12.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">5,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                     
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">13.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">2,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                        
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">14.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">2,500</td>
                  
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">15.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                       
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">16.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">3,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
         
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">17.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                      
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">18.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">3,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                     
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">19.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">5,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                     
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">20.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">5,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
              
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">21.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                        
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">22.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">5,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                     
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">23.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                 
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">24.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">3,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,500</td>
                      
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">25.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">4,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                    
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">26.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">5,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                 
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">27.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                      
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">28.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                       
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">29.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">30.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
               
                       </tr> 
                 
                       <tr>
                         <td class="border border-gray-300 text-center px-4 py-2">31.12.2024</td>
                         <td class="border border-gray-300 text-center px-4  py-2">6,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">1,000</td>
                         <td class="border border-gray-300 text-center px-4 py-2">500</td>
                    
                       </tr> 
                 
                 </tbody>
            </table>
           
<!----------Show-Next-Previous-------------->

<div class="flex justify-between items-center mt-4">
  <div>
    <span id="pagination-info" class="pagination-info">Showing 1 to 10 of 57 entries</span>
  </div>
  <div class="flex space-x-1 pagination">
    <button id="prev-btn" class="px-3 py-1 border border-gray-300 rounded bg-white" data-action="prev" disabled>Previous</button>
    <button id="next-btn" class="px-3 py-1 border border-gray-300 rounded bg-white" data-action="next">Next</button>
  </div>
</div>


</div>
</div>

<div class="max-w-7xl mx-auto p-4">
  <div class="flex justify-between items-center bg-gray-300shadow-md p-4 rounded-lg">
    <h1 class="text-2xl text-black "> Charts </h1>
  </div>
  <canvas id="barChart" class="mt-4"></canvas>
</div>
</div>

 </div>


    
 
 </div>      
</div>
</div>

             
                


<!-- base:js -->
<script src="Wireframe.js"></script>
<script src="../vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="../vendors/chart.js/Chart.min.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../js/off-canvas.js"></script>
<script src="../js/hoverable-collapse.js"></script>
<script src="../js/template.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
 <script src="script.js"></script>
<script src="../js/dashboard.js"></script>
<!-- End custom js for this page-->

</div>
</div>
  </body>
  </html>